@use "vars";

.deck {
    display: flex;
    align-items: center;

    background-color: vars.$bg-secondary;

    padding: 3rem;

    overflow-x: auto;
    overflow-y: hidden;
}

.deck::-webkit-scrollbar {
    height: 0.5rem;
}

.deck::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

.deck::-webkit-scrollbar-thumb {
    background-color: vars.$bg-tertiary;
    border-radius: 0.25rem;
}
